/** bullsharks styles **/

/* appointments */

.appBox {
    width: 270px;
    margin-left: 8px;
    min-height: 60px;
    border: 1px solid #999999;
    float: left;
    margin-top: 5px;
}

.appBox_name {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    font-weight: bold;
}

.App_1 {
    background-color:#d9edf7;
    color:#3a87ad;
}

.App_2 {
    background-color:#dff0d8;
    color:#468847;
}

.App_3 {
    background-color:#f2dede;
    color:#b94a48;
}

.appBox_notes {
    width: 100%;
    background-color:#ffffff;
    color:black;
    padding:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.appBox_controls {
    width: 100%;
    background-color:#f5f5f5;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-top: 1px solid #999999;
}